.divInputContainer{
    display: grid;
    gap: 25px;
}
.divInputContainer > form{
    display: grid;
    gap: 10px;
}
.divInputContainer > form .divSpaceInputs{
    display: flex;
    align-items: center;
    gap: 10px;   
}
.divInputContainer > form .divSpaceInputs select{
    display: flex;
    width: 40px;
    font-size: 18pt;
    text-align: center;
    appearance: none;
}
.divInputContainer > form .divSpaceInputs input{
    border: none;
    background-color: #3B3B3B;
    border-bottom: 4px solid #e5e5f5;
    padding: 2px;
    font-size: 15pt;
    padding: 0.5rem;
}
.divInputContainer > form input[type="submit"]{
    display: inline-block;
    padding: 2px;
    font-size: 15pt;
    margin: 2rem auto;
}
.dNone{
    display: none;
}