.divInputContainer > form{
 
    display: grid;
    gap: 10px;
    
}
.divInputContainer > form legend{
    font-size: 25pt;
}
.divInputContainer > form .divSpaceInputs{
    display: flex;
    gap: 10px;   
}
.divInputContainer > form .divSpaceInputs input{
    border: none;
    border-bottom: 4px solid #e5e5f5;
    padding: 2px;
    font-size: 15pt;
}
.divInputContainer > form input[type="submit"]{
    display: inline-block;
    padding: 2px;
    font-size: 15pt;
    margin: 2rem auto;
}